[submodule "glfw"]
	path = _external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = _external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Loader/assimp"]
	path = Loader/_external/assimp
	url = https://github.com/assimp/assimp.git
